html {
  margin: 0 auto;
  max-width: 1280px;
}
.header {
  text-align: center;
}

.header-title {
  font-size: 5rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.game-description {
  text-align: center;
}

.text-game-description {
  font-size: 2rem;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 5rem;
  margin-right: 5rem;
  gap: 10rem;

  text-align: center;
}

.game-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.game-button {
  cursor: pointer;
  font-size: x-large;
  padding: 2rem;
}

.text-game-counter {
  font-size: 5rem;
  text-align: center;
}

.player-text {
  font-size: 2rem;
}

.computer-button-selected {
  background-color: aqua;
}

.player-button-selected {
  background-color: chartreuse;
}

.winner-modal {
  display: none;
  position: fixed;
  z-index: 1;
  width: 60%; /* Cambia el ancho del modal según tu preferencia */
  max-width: 400px; /* Define el ancho máximo del modal */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
}

.restart-game-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.restart-game-button:hover,
.restart-game-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
